# Set the command-line arguments to pass to the server.
ARGS="-web.listen-address {{listen_address}}"

DATA_SOURCE_NAME="
{%- for cluster in salt["postgres.cluster_list"](verbose=True).itervalues() -%}
host=/var/run/postgres user={{cluster["user"]}} port={{cluster["port"]}}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor -%}
"